version: "3.9"

networks:
  forgecloud-net:
    driver: bridge

services:
  dns-server:
    image: forgecloud/dns-server
    container_name: forgecloud-dns
    networks:
      - forgecloud-net

  gateway:
    image: forgecloud/gateway
    container_name: forgecloud-gateway
    networks:
      - forgecloud-net
