version: "3.9"

networks:
  forgecloud-net:
    driver: bridge

services:
  dns-server:
    build:
      context: ../dns-server
    image: forgecloud/dns-server
    container_name: forgecloud-dns
    networks:
      - forgecloud-net
    ports:
      - "1053:53/udp"

  gateway:
    image: forgecloud/gateway
    container_name: forgecloud-gateway
    networks:
      - forgecloud-net
